button[aria-label="Submit"] {
    background: linear-gradient(90deg,#A087BE,#754AA4) 
  }  
  
  @font-face {
    font-family: "ADPortsGroup";
    src: local("ADPortsGroup"),
     url("/assets/ADPortsGroup-Regular-f9ecf0de.otf") format("truetype");
    font-weight: normal;
   }

   @font-face {
    font-family: "ADPortsGroupLight";
    src: local("ADPortsGroupLight"),
     url("/assets/ADPortsGroup-Light-3ee3972c.otf") format("truetype");
    font-weight: lighter;
   }

   @font-face {
    font-family: "ADPortsGroupBold";
    src: local("ADPortsGroupBold"),
     url("/assets/ADPortsGroup-Bold-18c51049.otf") format("truetype");
    font-weight: bold;
   }

   div.ac-textBlock {
    font-family: ADPortsGroup !important;
  }

  .markdown.webchat--css-osocb-1297zfy {
    font-family: ADPortsGroup !important;
  }